{% extends 'Website/base.html' %}


{% block content %}

<div class="container">
    <h4>تسجيل الدخول</h4>

    <form action="{% url 'accounts:login_user' %}" method="POST" class="d-flex flex-column gap-2">
       {% csrf_token %}

        <strong class="">{{ msg }}</strong>
        <h2>تعـــافي</h2>
        <h1 class="h3 mb-3 fw-normal">الرجاء تسجيل الدخول</h1>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="اسم المستخدم" name="username">
            <label for="floatingInput">اسم المستخدم</label>
          </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="كلمة المرور" name="password">
          <label for="floatingPassword">كلمة المرور</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">تسجيل الدخول</button>
        <button class="w-100 btn btn-lg btn-primary" type="button" onclick="window.location.href = '{% url 'accounts:register_type' %}';" >تسجيل عضو جديد</button>
        </form>
</div>

{% endblock%}