{% extends 'Website/index.html' %}


{% block content %}

<h1>تسجيل أخصائي</h1>

    <form action="{% url 'accounts:register_specialist' %}" method="POST" class="d-flex flex-column gap-2" enctype="multipart/form-data">
       {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal"></h1>
    
        <div class="form-floating ">
            <input required="" type="text" class="form-control" id="floatingInput" placeholder="اسم المستخدم" name="username">
            <label for="floatingInput" style="color: #333333;">اسم المستخدم</label>
          </div>
          <label  class="form-floating"style="color: #333333;">الصورة الشخصية</label>
        <input type="file" name="specialist_image" accept="image/*" class="form-control" />

          <div class="form-floating">
            
            <input required type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">البريد الالكتروني</label>
          </div>
        

          <div class="form-floating">
            <input required type="text" class="form-control" id="floatingInput" placeholder="الاسم الاول" name="first_name">
            <label for="floatingInput">الاسم الأول</label>
          </div>

          <div class="form-floating">
            <input required type="text" class="form-control" id="floatingInput" placeholder="اسم العائلة" name="last_name">
            <label for="floatingInput">الأسم الأخير</label>
          </div>
          <div class="form-floating">
            <input required type="text" class="form-control" id="floatingInput" placeholder="التخصص" name="specialist_specialization">
            <label for="floatingInput">التخصص</label>
          </div>
          <label  class="form-floating">صورة المؤهل </label>
        <input required type="file" name="specialist_specialization_image" accept="file/.pdf" class="form-control" />
          
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="نبذة عن نفسك" name="specialist_information">
          <label for="floatingInput">نبذة عن نفسك</label>
        </div>
        
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="المدينة" name="specialist_city">
            <label for="floatingInput">المدينة</label>
          </div>
          <div class="form-floating">
            <input required type="text" class="form-control" id="floatingInput" placeholder="رقم الهاتف" name="specialist_phone">
            <label for="floatingInput">رقم الهاتف</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="رابط الصفحة الشخصية" name="specialist_personal_page">
            <label for="floatingInput">الصفحة الشخصية</label>
          </div>


        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="كلمةالمرور" name="password">
          <label for="floatingPassword">كلمة المرور</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="تأكيد كلمة المرور" name="confirm-password">
          <label for="floatingPassword">تأكيد كلمة المرور</label>
        </div><label style="color: #858484;">{{error_msg}}</label>
        
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">تسجيل</button>
       
      </form>


{% endblock%}