{% extends 'Website/base.html' %}

{% block title %}
{%if is_specialist%}
انشر مقال 
{%else%}{%endif%}
{% endblock %}


{% block content %}


    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">العنوان</label>
            <input type="text" class="form-control" name="title">
        </div>

        <label  class="form-label">الصورة</label>
        <input type="file" name="image" accept="image/*" class="form-control" />

        <div class="mb-3">
            <label  class="form-label">المحتوى</label>
            <textarea type="text" class="form-control" name="content"></textarea>
        </div>

        <div class="mb-3">
            <label  class="form-label">تاريخ النشر</label>
            <input type="datetime-local" class="form-control" name="publish_date" />
        </div>
        {%if is_specialist%}
        <div class="mb-3">
            <label class="form-label">نوع الموضوع</label>
            <select required class="form-select" name="post_type">
                <option value="Article">مقال</option>
                <option value="Story ">قصة الهام</option>
            </select>
        </div>
        {%else%}
        <div class="mb-3">
            <label class="form-label">نوع الموضوع</label>
            <select  class="form-select" name="post_type">
                <option value="Story ">قصة الهام</option>
            </select>
        </div>
        {%endif%}
        <input class="btn btn-primary" type="submit" value="إضافة" />
    </form>
{% endblock %}