{% extends 'Website/base.html' %}


{% block content %}

<h1>Posts List</h1>

{% if "search"  in  request.GET %}
    <h2> Search results for "{{ request.GET.search }}": </h2>
{% endif %}

    {%if groups%}
    {% for group in groups %}
        <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
            <tr>
                <th scope="row"><a href="{% url 'Website:group_detail' group.id %}">{{ group.group_name }}</a></th>
                <td>{{ group.start_date }}</td>
                <td>{{ group.created_by }}</td>
                <td>

                    <div class="button">
                        <button class="btn btn-primary" href="{% url 'Website:home' group.id %}" type="button" >
                          انضمام
                        </button>
                      </div>

                </td>
            </tr>
            {% endfor %}
            {%elif names%}
            {% for name in names %}
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">اسم الاخصائي</th>
                        <th scope="col">التخصص</th>
                        <th scope="col">التقييم</th>
                        <th scope="col">الصفحة الشخصية</th>
                    </tr>
                    </thead>
                    <tbody>
            <tr>
                <th scope="row"><a href="">{{ name.specialist_name }}</a></th>
                <td>{{ name.specialist_specialization }}</td>
                <td>{{ name.specialist_rate }}</td>
                <td><a href="{{ name.specialist_personal_page }}">اضغط هنا</a></td>
            </tr>
            {% endfor %}
            {%else%}
            لا توجد بيانات لعرضها
            {%endif%}

        </tbody>
    </table>
</div>
{%endblock%}