{% extends 'Website/base.html' %}
{% load static%}

{%block title%} {{group.group_name}}{%endblock%}

{%block content%}



<h6>اسم المجموعة</h6>
<p>{{group.group_name}}</p>
<hr>
<h6> المهام السابقة</h6>

<div>{%for mission in missions %} 
<ol type="1">
   
  <li><p>{{mission.mission_name}}</p></li>

</ol>  {%endfor%}
</div>
<br>

<div>
<h6>عدد الاعضاءالمتبقين للانضمام</h6>
<p>{{group.member_number}}</p>
<h6>رابط محادثة المجموعة</h6><br>
<a href="{{group.chat_url}}">{{group.chat_url}}</a>

<h6>تاريخ بدايةالمجموعة</h6><br>
<p>{{group.start_date}}</p>
<h6>تاريخ النهاية</h6><br>
<p>{{group.end_date}}</p>

</div>
{% if perms.Website.add_mission %}
<form class="form" method="POST">
  <div>
  {% csrf_token %}
<div class="mb-3">
    <label  class="form-label">ادراج مهمة جديدة:</label>
    <input type="text" class="form-control" name="mission_name" >
</div>

<div class="mb-3">
  <label  class="form-label">تاريخ البدء</label>
  <input type="datetime-local" class="form-control" name="start_date" />
</div>


<div class="mb-3">
  <label  class="form-label">تاريخ الانتهاء</label>
  <input type="datetime-local" class="form-control" name="end_date" />
</div>
<input class="btn btn-primary" type="submit" value="ادراج" />
</form></div>

{%else%}
{%endif%}

{%endblock%}