{% extends 'Website/index.html' %}


{% block title %} {{ specialist.specialist_name }} {% endblock %}


{% block content %}
<h1>{{ specialist.specialist_name }}</h1>
<div class="container">
    <img src="{{ specialist.specialist_image.url }}" class=" col-md-7 order-md-2" style="height:30vh ;width:30vh"/><br>
    <h6>التخصص</h6>
    <label>{{ specialist.specialist_specialization }}</label><br>
    <div>
        {{ specialist.specialist_information }}
    </div>
    <h5>الصفحة الشخصية</h5>
    <a href="{{ specialist.specialist_personal_page }}">اضغط هنا</a>
</div>

<hr/>


{% endblock %}