{% extends 'Website/base.html' %}
{%block user%}
<ul class="nav navbar-nav">
  <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="{% url 'Website:home' %}">{{ request.user.first_name }}</a>
      <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'Website:my_group_list' %}">مجموعاتي</a>
        <a class="dropdown-item" role="presentation" href="{% url 'Website:new_group' %}">انشاء مجموعة</a>
        <a class="dropdown-item" role="presentation" href="{% url 'Website:new_mission' %}">انشاء مهمة</a>
        <a class="dropdown-item" role="presentation" href="#">الأعضاء</a>
        <a class="dropdown-item" role="presentation" href="{% url 'accounts:logout_user' %}">تسجيل الخروج</a>
                                    
      </div>
  </li>
</ul>
{%endblock%}
{%block specialist%}

  {%for group in groups%}
  <div class="container">
    <div class="row pt-5 m-auto">
      <div class="col-md-6 col-lg-4 pb-3">

        <!-- Copy the content below until next comment -->
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="{% static 'imgs/group_avatar.jpg' %}" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">{{group.group_name}}<br>
            </h4>
            <p class="card-text">{{group.group_info}}</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-primary">انضمام</a>
            <a href="#" class="btn btn-outline-primary">للتفاصيل</a>
          </div>
        </div>
        <!-- Copy until here -->

      </div>
      
    </div>
  </div>
  {%endfor%}

{%endblock%}