{% extends 'Website/base.html' %}

{% block title %} المواضيع {% endblock %}




{% block content %}

{% if "search"  in  request.GET %}
    <h2> نتائج البحث لـ "{{ request.GET.search }}": </h2>
{% endif %}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">العنوان</th>
            <th scope="col">تاريخ النشر</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row"><a href="{% url 'Website:post_detail' post.id %}">{{ post.title }}</a></th>
                <td>{{ post.publish_date }}</td>
                                
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}